:root {
    --c-rouge:#FE142F;
    --c-princ:white;
    --c-sec:black;
    font-size: 16pt;
}
.jn {
    background-color: var(--c-sec);
    color: var(--c-princ);
    padding: 10px;
    border-radius: 5px;
}
.jn:hover {
    cursor: pointer;
    text-decoration: underline;
}
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c-sec);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--c-princ);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--c-sec);
  }
 /* input:checked + .slider::before {
    background-color: var(--c-sec);
  }*/
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--c-sec);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c-princ);
}
header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 0 50px;
}
nav {
    display: flex;
}
nav>* {
    margin: 10px;
    color: var(--c-sec);
    transition: linear .5s;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
nav>*:hover {
    background-color: var(--c-rouge);
    color: white;
    text-decoration: underline;
}
footer {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
color: var(--c-rouge);
font-size: 0.6rem;
}

section {
    position: relative;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    background-color: var(--c-sec);
    border-radius: 5px;
}
article {
    position: absolute;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
}
h2 {
    font-size: 4.4rem;
    color: var(--c-princ);
}
article>p {
    width: 60%;
    color: var(--c-princ);
    font-size: 1.1rem;
}
article>.btn {
    padding: 10px 20px;
    background-color: var(--c-rouge);
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: linear .5s;
}
article>.btn:hover {
    cursor: pointer;
    text-decoration: underline;
}
.imgGamer {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    top:0;
    background-image: url(../img/AdobeStock_335161323\ \(1\)\ 1.png);
    background-size: cover;
    border-radius: 0 5px 5px 0;
}